# Игнорируем все по умолчанию
*

# Разрешаем только нужные папки
!/lib/
!/test/
!/images/  # если нужны картинки

# Разрешаем только нужные файлы в корне
!pubspec.yaml
!pubspec.lock
!README.md
!analysis_options.yaml
!.gitignore
!.metadata

# Игнорируем платформо-специфичные папки
/android/
/ios/
/linux/
/macos/
/windows/
/web/
/build/

# Игнорируем системное
/dart_tool/
/.idea/
/.vscode/